<%= render 'searches/form' %>
<h2>Books search for "<%= @content %>"</h1>

<% if @model == 'user' %>
    <%= render 'users/index', users: @records %>
<% else @model == 'books' %>
    <%= render 'books/index', books: @records %>
<% end %>